.font-primary {
  font-family: "Black Ops One" !important;
}

.font-quicksand {
  font-family: "quicksand";
}

.font-six {
  font-family: 'Sixtyfour';
}

.font-jac {
  font-family: 'Jacquard';
}

.font-smok {
  font-family: 'Smokum';
}

body.light-mode {
  background-color: hsl(0, 0%, 100%);
  color: black;
  /* text-gray-900 */

}

.bg.light-mode {
  background: #EFF6FF;
}

.bg-button.light-mode {
  background-color: #FBBF24;
}

.Text-nav.light-mode,
.Text.light-mode {
  color: rgb(0, 0, 0);
}


.navbg.light-mode {
  background-color: hsl(241, 100%, 63%);
}

.bg-button.light-mode:hover,
.Text-nav.light-mode:hover {
  color: #ffffff;
}

.svg.light-mode path {
  fill: #EFF6FF;
}

.svg.dark-mode path {
  fill: #000000;
}

.namedSpan.light-mode,
.named.dark-mode {
  color: #ffffff;
}

.namedSpan.dark-mode,
.named.light-mode {
  color: #FBBF24;
}





#carouselTrack {
  display: flex;
  flex-wrap: nowrap;
  gap: 3rem;
  width: max-content;
}

.carousel-container {
  overflow: hidden;
  /* ← INI yang paling penting */
  width: 100%;
  position: relative;
}

.carousel-track {
  display: flex;
  width: max-content;
  will-change: transform;
}

.carousel-item {
  flex-shrink: 0;
  padding: 0 1rem;
}

.carousel-item img {
  height: 24;
  width: auto;
  object-fit: contain;
}