body {
    margin: 0;
    font-family: monospace;
    background:linear-gradient(hsl(0, 0%, 0%),hsl(0, 0%, 40%));
    background-size: cover;

}
h1{
    margin-top:-1rem ;
}
.version{   
    
    text-align: right;
}
.data{
    margin-top: 10px;
    width: 27rem;
}
.web{
    color: hsl(39, 100%, 50%);
    font-size: 30px;
}
.myName{
    font-weight:bold;
    font-style: italic;
    color: hsl(37, 56%, 80%);
}
.name{
    margin-top: -2px;
    margin-bottom: -5px;
}
.content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: max-content;
    width: min-content;
    display: grid;
    margin-top: 50%;
    background-color: transparent;
    border: 3px black solid;
    box-shadow: 10px 10px 14px black;
    margin: auto;
    font-weight: bold;
    text-align: center;
    padding:0px 10px;
    color: hsl(0, 0%, 100%);


}
.container-input{
    display: flex;
    gap: .2rem;
}
.content .container .container-input input{
    padding: 10px;
}
.content .container p{
    text-align: left;
}
.btn {
    background-color: hsl(0, 0%, 80%);
    cursor: pointer;
    padding: .3rem;
    margin-top: 5px;
}
.btn:hover{
    background-color: hsl(0, 0%, 100%);
}
#Data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
    margin-left:-40px;
    position: relative;
    background-color:  hsl(0, 0%, 70%);
    border: none;
    font-size: 1rem;
    list-style: none;
    color: hsl(0, 0%, 0%);
}
#ceklist{
  padding: 5px;
  cursor: pointer;

}
.content-data{
    margin-top: 10px;
    
}
.icon{
    padding: 5px;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    transition: all 0.2s;
    display:flex ;
    justify-content: center;
    align-items: center;

}
.area{
    display: flex;
    justify-content: left;
}
.Data{
    flex-grow: 1;
    word-break: break-word;
}
#mode{
    padding: .5rem;
    background-color: hsl(0, 0%, 30%);
    color: #fff;
    border: none;
    box-shadow: -5px 0px 10px black;
}
.btnplus, .btnminus{
    border: 1px solid black;
}
.btnplus{
    margin-left: rem;
}
.btnminus:hover, .btnplus:hover{
    background: hsl(0, 0%, 100%);
}
.numberarea{
    border: 1px solid black;
    height: auto;
}